.text-field {
    display: block;
    width: 100%;
    padding: 0.375rem 1rem;
    font-size: $base-font-size;
    border: 2px solid transparent;
    border-radius: 5px;
    outline: none;
    resize: none;

    &::placeholder {
        font-style: italic;
        color: #999999;
        font-size: $base-font-size;
    }

    &:focus {
        border-color: #9CC3BC;
    }

    &:invalid.ng-touched {
        border-color: #ff0000;
    }

    &--number {
      border-color: #b4d6d0;
      &::-webkit-inner-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
}
