.product-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.25rem;
    font-size: 1rem;
    color: #fff;

    &__link {
        font-weight: bold;
        color: #fff;
    }
    
    &__category {
        margin: 0;
    }
    
    &__category span {
        font-weight: bold;
    }
}
