.filter-form {
    position: absolute;
    right: 0;
    top: 2.93rem;
    display: none;
    width: 47.87rem;
    max-width: 100%;
    padding: 0.625rem 1.25rem;
    border-radius: 1rem;
    background: white;
    z-index: 2;

    @media(max-width: $mobile) {
        width: 100%;
    }

    &--active {
        display: block;
    }

    &::before {
        content: '';
        position: absolute;
        top: -5px;
        right: 16.68rem;
        width: 1.25rem;
        height: 1.25rem;
        background: white;
        transform: rotate(45deg);

        @media(max-width: $mobile) {
            left: 3.125rem;
            right: 0;
        }
    }

    &__title {
        margin-bottom: 5px;
        font-size: 0.75rem;
    }

    &__options {
        display: flex;
    }

    &__item {
        margin-right: 1.25rem;
    }

    &__item:last-of-type {
        margin-right: 0;
    }
}



.filter-form-group {
    display: flex;
    justify-content: space-between;

    padding: 0.625rem 0;

    &--border{
        border-bottom: 0.5px solid $base-green;

        @media(max-width: $mobile) {
            border-bottom: none;
        }
    }

    @media(max-width: $mobile) {
        flex-direction: column;
    }
}

.filter-form-group-item--col-1 {
    width: 30%;
}

.filter-form-group-item--col-2 {
    width: 65%;
}

.filter-form-actions {
    display: flex;
    justify-content: flex-end;

    .button--primary {
        margin-right: 1rem;
    }

    @media(max-width: $mobile) {
        justify-content: space-around;
    }
}

@media(max-width: $mobile) {
    .filter-form-group-item {
        padding: 1.25rem 0;
        border-bottom: 0.5px solid $base-green;
    }

    .filter-form-group-item--col-1,
    .filter-form-group-item--col-2 {
        width: 100%;
    }

    .filter-form-group:first-of-type .filter-form-group-item:first-of-type {
        padding: 0 0 1.25rem 0;
    }

    .filter-form-group:last-of-type .filter-form-group-item:last-of-type {
        padding: 1.25rem 0 0 0;
        border-bottom: none;
    }
}
