.filters {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @media (max-width: $mobile) {
        justify-content: space-between;
    }

    &__toggle-button {
        margin-right: 1rem;
    }

    &__search {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 20%;
            right: 0.62rem;
            display: block;
            width: 1.25rem;
            height: 1.25rem;
            @include background-img("search.svg");
        }
    }
}
