<div class="product-item__image-wrapper">
    <img [src]="product.image" class="product-item__image" alt="product-item-image"/>
    <div class="rating-wrapper">
        <div class="rating rating--{{product.rating}}"></div>
    </div>
</div>
<div class="product-item__information-wrapper">
    <div>
        <h3 class="product-item__title">
            {{product.name}}
        </h3>
        <p class="product-item__description">
            {{product.description}}
        </p>
    </div>
    <div class="product-item__information">
        <div class="product-item__price">
            <span class="product-item__price-currency">$</span>{{product.cost}}
        </div>
        <a [routerLink]="['/product', product.id]" class="button">
            Show more
        </a>
    </div>
</div>
