.login {
    width: 100%;
    max-width: 35.625rem;
    border-radius: 1rem;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);

    &-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 3.75rem 0;
        overflow: auto;
        z-index: 2;
    }

    &__header {
        padding: 1.25rem;
        text-align: center;
        font-size: 1.375rem;
        font-weight: bold;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.11);
    }

    
}

.login-form {
    padding: 1.875rem 3.75rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    @include background-img("modal-bg.png", auto, repeat);

    &__actions {
        display: flex;
        justify-content: flex-end;
    }
    
    &__field {
        position: relative;
        margin-bottom: 1.25rem;
    }
    
    &__field span {
        font-size: 1.125rem;
    }
    
    &__input {
        padding: 1rem 1.25rem;
        font-size: 1.5rem;
    }
    
    &__field-icon::before {
        content: '';
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        display: block;
        width: 2.5rem;
        height: 2.5rem;
    }
    
    &__field-icon--user-name::before {
        @include background-img("login-inactive.svg", 100%);
    }
    
    &__input--user-name:focus + &__field-icon--user-name::before {
        @include background-img("login-active.svg", 100%);
    }
    
    &__input--user-name:invalid.ng-touched + &__field-icon--user-name::before {
        @include background-img("login-invalid.svg", 100%);
    }
    
    &__field-icon--password::before {
        width: 1.875rem;
        height: 1.875rem;
        bottom: 19px;
        right: 17px;
        @include background-img("password-inactive.svg", 100%);
    }
    
    &__input--password:focus + &__field-icon--password::before {
        @include background-img("password-active.svg", 100%);
    }
    
    &__input--password:invalid.ng-touched + &__field-icon--password::before {
        @include background-img("password-invalid.svg", 100%);
    }
}