@mixin background-img($image, $size:auto, $repeat: no-repeat, $position: unset) {
    background-image: url('/assets/#{$image}');
    background-size: $size;
    background-repeat: $repeat;
    background-position: $position;
    background-color: transparent;
}
