<app-modal [isOpen]="true">
  <ng-container header>
    {{ getModalTitle() }}
  </ng-container>
  <ng-container body>
    <form class="product-edit-modal" [formGroup]="productForm" (submit)="onProductSave()">
      <div>
        <app-edit-name
          [parent]="productForm"
        ></app-edit-name>

        <app-edit-category
          [parent]="productForm"
          [categories]="categories"
        ></app-edit-category>

        <app-edit-gender
          [parent]="productForm"
        ></app-edit-gender>

        <app-edit-description
          [parent]="productForm"
        ></app-edit-description>
      </div>

      <div>
        <app-edit-image
          [parent]="productForm"
        ></app-edit-image>

        <app-edit-price
          [parent]="productForm"
        ></app-edit-price>
        <app-edit-rating
          [parent]="productForm"
        ></app-edit-rating>
      </div>
    </form>
  </ng-container>
  <ng-container footer>
    <button class="button button--secondary button--big" (click)="onCancel()">Cancel</button>
    <button class="button button--big" [disabled]="productForm.invalid" (click)="onProductSave()">Submit</button>
  </ng-container>
</app-modal>