<div class="container">
    <header class="header-wrapper">
        <div class="header page-container">
            <h1 class="header__logo">
                <a href="/">
                    <img src="assets/logo.svg" alt="">
                </a>
            </h1>

            <div class="header__user">
                <div class="header__user-name">
                    Hello, <span>{{userName}}</span> 
                </div>
                <button class="header__user-logout" (click)="logout()"></button>
            </div>
        </div>
    </header>
    <main class="page-container page-container--main">
        <router-outlet></router-outlet>
    </main>

    <footer class="footer">
        Copyright “<a href="#">Demo Shop</a>”, 2019
    </footer>
</div>