<section class="filters">
    <app-filters [categories]="categories" (filterChanged)="onFiltersChanged($event)"></app-filters>
    <app-search (searchChange)="onSearchChange($event)"></app-search>
</section>

<section class="products" [appInfiniteScroll]="isInfiniteScrollActive" (loadDocuments)="loadDocuments()">
    <app-product-item *ngFor="let product of products"
            [product]="product"
            [userRole]="roleId"
            (deleteProduct)="onProductDelete($event)"
            ></app-product-item>
</section>
