<div class="product-item__image-wrapper">
  <img [src]="product?.image" class="product-item__image" alt="product-item-image" />
  <button *ngIf="isAdmin" class="product-item__remove-button" (click)="onDeleteProduct()"></button>
  <a *ngIf="isAdmin && isExtendedView" class="product-item__edit-button" [routerLink]="[ './edit' ]" routerLinkActive="router-link-active" ></a>
  <div class="rating-wrapper">
    <div class="rating rating--{{product?.rating}}"></div>
  </div>
</div>
<div class="product-item__information-wrapper">
  <div>
    <h3 class="product-item__title">
      {{product?.name}}
    </h3>
    <p class="product-item__description">
      {{product?.description}}
    </p>
  </div>
  <div class="product-item__information">
    <ng-container *ngIf="isExtendedView; then extendedView; else shortView"></ng-container>

    <ng-template #shortView>
      <div class="product-item__price">
        <span class="product-item__price-currency">$</span>{{product?.cost}}
      </div>
      <a [routerLink]="['/product', product.id]" class="button">
        Show more
      </a>
    </ng-template>
    <ng-template #extendedView>
      <div class="product-item__price">
        <span class="product-item__price-currency">$</span>{{product?.cost}}
        <span class="product-item__left">({{product?.count}} items left)</span>
      </div>
      <button class="button button-buy" [disabled]="!product?.count" (click)="onBuyProductClick()">
        Buy
      </button>
    </ng-template>
  </div>
</div>

<app-delete-product-confirmation
  [isOpen]="isDeleteModalOpen"
  (closeModal)="onDeleteModalClose($event)"
></app-delete-product-confirmation>