.product-item {
    @include background-img("modal-bg.png", auto, repeat);

    &--extended-view {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.25rem 1.25rem;
        padding: 1.25rem;

        @media(max-width: $mobile) {
            grid-template-columns: 1fr;
            min-height: 31.25rem;
        }

        .product-item__image-wrapper {
            height: 21.87rem;

            @media(max-width: $mobile) {
                height: 16.87rem;
            }
        }

        .product-item__information-wrapper {
            height: auto;
            min-height: 180px;
            padding: 0;
        }

        .product-item__description {
            font-size: 1rem;
            max-height: fit-content;
        }
    }

    &__image-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 15rem;
    }

    &__remove-button {
        position: absolute;
        right: 0;
        top: 0;
        width: 2rem;
        height: 2rem;
        border: none;
        cursor: pointer;
        @include background-img("trash.svg", 1.5rem 1.5rem, no-repeat, center);
        background-color: #288575;
    }

    &__edit-button {
        position: absolute;
        right: 2.1rem;
        top: 0;
        width: 2rem;
        height: 2rem;
        border: none;
        cursor: pointer;
        @include background-img("edit.svg", 1.5rem 1.5rem, no-repeat, center);
        background-color: #288575;
    }
    
    &__image {
        width: 100%;
        height: 100%;
    }
    
    &__image-description {
        position: absolute;
        bottom: 2rem;
        padding: 0 2.5rem;
        font-style: italic;
        font-size: $base-font-size;
        text-align: center;
        color: #fff;
        z-index: 1;
    }
    
    &__image-wrapper:hover .product-item__image-slider {
        display: flex;
    }
    
    &__information-wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: calc(100% - 15rem);
        padding: 1rem 1.25rem;
    }
    
    &__title {
        margin: 0;
        padding-bottom: 0.62rem;
        font-size: 1.12rem;
        font-weight: bold;
        border-bottom: 2px solid #3FC5CB;
    }
    
    &__description {
        max-height: 6.87rem;
        overflow: hidden;
        margin: 0.62rem 0;
        font-size: $base-font-size;
    }
    
    &__information {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    &__price {
        font-weight: bold;
        font-size: 1.5rem;
    }
    
    &__price-currency {
        color: $base-green;
    }
    
    &__left {
        font-weight: normal;
        font-size: 1.12rem;
    }
}

.from-left-to-default {
    animation: fromLeftToDefault 0.5s;
}

.from-default-to-left {
    animation: fromDefaultToLeft 0.5s;
}

.from-right-to-default {
    animation: fromRightToDefault 0.5s;
}

.from-default-to-right {
    animation: fromDefaultToRight 0.5s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fromLeftToDefault {
    0% {
        opacity: 0;
        transform: translateX(4rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fromDefaultToLeft {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(4rem);
    }
}

@keyframes fromRightToDefault {
    0% {
        opacity: 0;
        transform: translateX(-4rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fromDefaultToRight {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(-4rem);
    }
}