@import './libs/slider';

@import './utils/index.scss';

@import './common/index.scss';
@import './components/index.scss';
@import './login/index.scss';
@import './main/index.scss';
@import './manager/index.scss';
@import './page-layout/index.scss';
@import './product/index.scss';

.links-block {
    display: flex;
    width: 100%;
    margin: 0 auto;
    background: linear-gradient(180deg, #2BBCC2 0%, #1B745F 100%);

    &__item {
        padding: 1.25rem;
        color: white;
        text-decoration: none;
    }
}